
<div id="app_controller" ng-controller="appController as devView">
    <h2 class="text-center">My Home ({{devView.myFactory.DevCount}} NooLite devices)</h2>
    <ul class="nav nav-tabs" ng-model="devView.selectedRoom">
        <li class="nav-item" ng-repeat="room in devView.myFactory.Rooms">
            <a class="nav-link" ng-class="{active: (devView.selectedRoom == room)}" href="" ng-click="devView.SetSelectedRoom(room)">{{room}}</a>
        </li>
    </ul>
    <div ng-model="devView.curLogKey" class="card-columns">
        <div ng-repeat="dev in devView.myFactory.DevBase track by $id(dev)" ng-show="(dev.room == devView.selectedRoom) || (devView.selectedRoom == 'All')" class="card border-primary mb-3" style="display:inline-block">
            <div class="card-header text-center">{{dev.name}} </div>
            <div class="card-body" >

                <div ng-show="dev.type == 1 || dev.type == 2">
                    State: <span class="bg-success" ng-show="(dev.state != 0)"> On </span>
                    <span ng-show="!(dev.state != 0)"> Off </span>
                </div>
                <div ng-show="dev.type == 3 && dev.extDevType == 1">
                    t = {{dev.log[dev.log.length-1].sensVal}}
                </div>

                <div ng-show="dev.type == 1 || dev.type == 2">
                    <span ng-model="dev.bright"> Bright: {{dev.bright}}</span>
                    <div class="input-group my-2">
                        <div class="input-group-prepend">
                            <span id="bright" class ="input-group-text">Bright</span>
                        </div>
                        <input ng-model="dev.bright" type="range" class="form-control" ng-click="devView.SetBright(dev.key, dev.bright)" aria-describedby="bright" />
                    </div>
                    <div class="input-group my-2">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary form-control" ng-click="devView.SetSwitch(dev.key)">Switch</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#!/log" ng-click="devView.myFactory.CurLogKey = dev.key">Log</a>
                                <a class="dropdown-item" href="#!/remove">Remove</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>