
<div ng-controller="roomsController as rooms">
    <div class="card w-75">
        <div class="card-header">
            <h5 class="text-center">Edit rooms</h5>
        </div>
        <div class="card-body">
            <div class=" card-title">
                <h6 class="text-center">Add new room</h6>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="newRoomName">Name</span>
                </div>
                <input type="text" ng-model="rooms.newName" placeholder="New room name" class="form-control" aria-describedby="newRoomName" />
                <input type="button" class="btn btn-primary form-control" value="Add selected" ng-click="rooms.AddRoom(rooms.newName)" />
            </div>
            <div class=" card-title">
                <h6 class="text-center">Remove room</h6>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="removeRoom">Room</span>
                </div>
                <select class="btn-default form-control" ng-model="rooms.selectedRoom" ng-options="room for room in rooms.myFactory.Rooms" aria-describedby="removeRoom"></select>
                <input type="button" class="btn btn-danger form-control" value="Remove selected" ng-click="rooms.RemoveRoom(rooms.selectedRoom)" />
            </div>
        </div>
    </div>
</div>